last_update: 'test_data'
log: [
  "升级结束, 已经是最新版本, 退出升级",
  "发现新版本， 开始升级， 请保持无线信号稳定",
  "发现新版本， 开始升级应用1",
  "移动网络已连接",
  "解压成功",
  "start full apk down!",
  "apk ver report. pkg:com.ihop.ota_service2, verName:1.5.160303_2, verCode:4",
  "apk ver report. pkg:com.ihop.com_service, verName:1.5.160120_1, verCode:8",
  "pkg:com.china_ihop.donghuawang.fatiguedetect, old vNm:1.040, new vNm:1.037, old vCd:1040, new vCd:1037",
  "pkg:test.file.zip, old vNm:1.0, new vNm:1.0, old vCd:-1, new vCd:-1",
  ]
platform:
  dev: 'http://localhost:3000/'
  pro: 'http://www.google.com/'
sim:
  dev: '460019912345678'
  pro: '460015620765432'
location:
  lng: "111.4808893486593"
  lat: "30.229565891634657"
